@import url("./common.css");

html {
    /* rem단위의 크기기준 */
    font-size: 14px;
}
body {
    background: #666;
    /*
      사이트 전체에서 적용할
      폰트관련 속성
    */
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    font-family: '굴림', serif;
}

#wrapper {
    width: 70%;
    margin: 0 auto;
}

/* header style */
#wrapper header {
    background: #123456;
    color: #fff;
    padding: 10px;
}
#wrapper header h1 {
    font-size: 2.1rem;
    font-weight: 700;
    text-align: center;
    font-family: '휴먼모음T', cursive;
    color: #cc0;
}
#wrapper header h1 strong {
    font-size: 3em;
    color: #fff;
}
#wrapper header h1 span {
    font-size: 1.5em;
}
#wrapper header h1 em {
    font-size: 2em;
    color: #ccc;
}
/* end header style */

/* ======================== */
/* container style */
#wrapper .container {
    display: flex;
}

#wrapper .container .menu {
    background: #ccc;
    /*width: 25%;*/
    flex: 1;
    padding: 20px;
}
#wrapper .container .menu li {
    margin-bottom: 8px;
}
#wrapper .container .menu li a {
    text-decoration: underline;
    font-family: sans-serif;
}
#wrapper .container .menu li a:hover {
    color: #662;
    border-bottom: 1px dashed #662;
}

#wrapper .container .content {
    background: #fff;
    /*width: 75%;*/
    flex: 3;
}
#wrapper .container .content h2 {
    background: #800;
    color: #ee0;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 10px 20px;
    font-family: '궁서체', cursive;
}
#wrapper .container .content p {
    padding: 20px;
    text-align: justify;
}

/* end container style */
/* ======================== */

/* footer style */
#wrapper footer {
    background: #aaa;
    padding: 10px 20px;
}
/* end footer style */