header {
  background: rgba(0,0,0, 0.2);
  width: 100%;
}
header .inner {
  /* background: tomato; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .logo {
  /* border: 3px solid green; */
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo img {
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
}
header .gnb {
  /* border: 3px solid blue; */
  width: 45%;
}

header .snb {
  /* border: 3px solid aqua; */
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 4px dashed yellow; */
  width: 80%;
}
header nav ul li {
  /* border: 2px solid #000; */
}