<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="../css/common.css" />
    <link
      rel="stylesheet"
      href="../css/practice1.css" />
  </head>
  <body>
    <header>
      <div class="inner">
        <h1 class="logo">
          <img
            src="https://kokokaki.github.io/img/logo1.png"
            alt="사이트 로고 이미지" />
        </h1>

        <nav class="gnb">
          <ul>
            <li><a href="#">회사소개</a></li>
            <li><a href="#">사업영역</a></li>
            <li><a href="#">투자정보</a></li>
            <li><a href="#">인재채용</a></li>
          </ul>
        </nav>

        <!--        nav.snb>ul>li*3>a[href="#"]-->
        <nav class="snb">
          <ul>
            <li><a href="#">알기쉬운 제품공정</a></li>
            <li><a href="#">내 삶속의 회사</a></li>
            <li><a href="#">제품검색</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>