* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fafafa;
}

.login {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 350px;
  padding: 40px;

  background: white;
  border: 1px solid #ddd;
}

.login-card h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 12px;

  border: 1px solid #ddd;
}

.form-group input:focus {
  outline: 2px solid #0095f6;
}

.login-card button {
  width: 100%;
  padding: 12px;

  border: 0;
  cursor: pointer;
}

.login-card button:hover {
  opacity: 0.8;
}